In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# HTML content
html_content = '''
<div class="svg-titles">
    <div class="svg-titles">
		<div style="right: 232px;top: 170px;">Jeseník<strong>113.7</strong></div>
		<div style="right: 195px;top: 225px;">Bruntál<strong>114.8</strong></div>
		<div style="right: 133px;top: 248px;">Opava<strong>132.8</strong></div>
		<div style="right: 79px;top: 266px;">Ostrava<strong>109.5</strong></div>
		<div style="right: 20px;top: 258px;">Karviná<strong>132.8</strong></div>
		<div style="right: 14px;top: 309px;">Frýdek-Místek<strong>132.8</strong></div>
		<div style="right: 111px;top: 300px;">Nový Jičín<strong>132.8</strong></div>
		<div style="right: 100px;top: 360px;">Vsetín<strong>111.3</strong></div>
		<div style="right: 155px;top: 335px;">Přerov<strong>108.3</strong></div>
		<div style="right: 212px;top: 303px;">Olomouc<strong>121.3</strong></div>
		<div style="right: 260px;top: 242px;">Šumperk<strong>136.6</strong></div>
		<div style="right: 336px;top: 234px;">Ústí n. O.<strong>116.6</strong></div>
		<div style="right: 327px;top: 290px;">Svitavy<strong>125.7</strong></div>
		<div style="right: 237px;top: 342px;">Prostějov<strong>130.2</strong></div>
		<div style="right: 182px;top: 387px;">Kroměříž<strong>111.0</strong></div>
		<div style="right: 136px;top: 414px;">Zlín<strong>129.8</strong></div>
		<div style="right: 167px;top: 445px;">U. Hradiště<strong>112.0</strong></div>
		<div style="right: 229px;top: 464px;">Hodonín<strong>114.7</strong></div>
		<div style="right: 259px;top: 399px;">Vyškov<strong>123.2</strong></div>
		<div style="right: 315px;top: 350px;">Blansko<strong>147.0</strong></div>
		<div style="right: 335px;top: 187px;">Rychnov n. K.<strong>117.6</strong></div>
		<div style="right: 387px;top: 140px;">Náchod<strong>110.0</strong></div>
		<div style="right: 428px;top: 112px;">Trutnov<strong>109.7</strong></div>
		<div style="right: 487px;top: 97px;">Semily<strong>142.3</strong></div>
		<div style="right: 495px;top: 64px;">Jablonec n. N.<strong>142.3</strong></div>
		<div style="right: 509px;top: 26px;">Liberec<strong>142.3</strong></div>
		<div style="right: 592px;top: 88px;">Česká Lípa<strong>142.3</strong></div>
		<div style="right: 643px;top: 51px;">Děčín<strong>142.3</strong></div>
		<div style="right: 549px;top: 137px;">M. Boleslav<strong>128.8</strong></div>
		<div style="right: 497px;top: 140px;">Jičín<strong>106.3</strong></div>
		<div style="right: 435px;top: 179px;">Hr. Králové<strong>155.6</strong></div>
		<div style="right: 424px;top: 217px;">Pardubice<strong>148.3</strong></div>
		<div style="right: 424px;top: 261px;">Chrudim<strong>131.3</strong></div>
		<div style="right: 384px;top: 341px;">Žďár n. S.<strong>129.8</strong></div>
		<div style="right: 335px;top: 409px;">Brno<strong>105.5</strong></div>
		<div style="right: 289px;top: 491px;">Břeclav<strong>137.2</strong></div>
		<div style="right: 379px;top: 481px;">Znojmo<strong>134.2</strong></div>
		<div style="right: 418px;top: 421px;">Třebíč<strong>133.6</strong></div>
		<div style="right: 470px;top: 385px;">Jihlava<strong>149.9</strong></div>
		<div style="right: 450px;top: 308px;">Havlíčkův Brod<strong>99.9</strong></div>
		<div style="right: 500px;top: 264px;">Kutná Hora<strong>132.0</strong></div>
		<div style="right: 519px;top: 350px;">Pelhřimov<strong>96.9</strong></div>
		<div style="right: 541px;top: 226px;">Kolín<strong>129.9</strong></div>
		<div style="right: 526px;top: 189px;">Nymburk<strong>113.7</strong></div>
		<div style="right: 676px;top: 81px;">Ústí n. L.<strong>142.3</strong></div>
		<div style="right: 734px;top: 85px;">Teplice<strong>142.3</strong></div>
		<div style="right: 743px;top: 116px;">Most<strong>142.3</strong></div>
		<div style="right: 793px;top: 134px;">Chomutov<strong>142.3</strong></div>
		<div style="right: 828px;top: 166px;">Karlovy Vary<strong>120.6</strong></div>
		<div style="right: 888px;top: 196px;">Sokolov<strong>131.8</strong></div>
		<div style="right: 942px;top: 202px;">Cheb<strong>126.0</strong></div>
		<div style="right: 876px;top: 281px;">Tachov<strong>120.6</strong></div>
		<div style="right: 789px;top: 293px;">Plzeň<strong>110.8</strong></div>
		<div style="right: 808px;top: 251px;">Plzeň S.<strong>163.6</strong></div>
		<div style="right: 736px;top: 160px;">Louny<strong>142.3</strong></div>
		<div style="right: 659px;top: 123px;">Litoměřice<strong>142.3</strong></div>
		<div style="right: 620px;top: 155px;">Mělník<strong>175.0</strong></div>
		<div style="right: 683px;top: 190px;">Kladno<strong>175.0</strong></div>
		<div style="right: 736px;top: 210px;">Rakovník<strong>134.4</strong></div>
		<div style="right: 683px;top: 245px;">Beroun<strong>144.6</strong></div>
		<div style="right: 631px;top: 216px;">Praha<strong>144.9</strong></div>
		<div style="right: 737px;top: 269px;">Rokycany<strong>131.8</strong></div>
		<div style="right: 675px;top: 304px;">Příbram<strong>103.5</strong></div>
		<div style="right: 583px;top: 294px;">Benešov<strong>116.5</strong></div>
		<div style="right: 852px;top: 344px;">Domažlice<strong>97.6</strong></div>
		<div style="right: 786px;top: 391px;">Klatovy<strong>89.0</strong></div>
		<div style="right: 703px;top: 404px;">Strakonice<strong>129.4</strong></div>
		<div style="right: 676px;top: 365px;">Písek<strong>110.0</strong></div>
		<div style="right: 602px;top: 365px;">Tábor<strong>125.4</strong></div>
		<div style="right: 505px;top: 441px;">Jindřichův Hradec<strong>99.7</strong></div>
		<div style="right: 603px;top: 461px;">Č. Budějovice<strong>95.2</strong></div>
		<div style="right: 638px;top: 518px;">Český Krumlov<strong>123.4</strong></div>
		<div style="right: 699px;top: 460px;">Prachatice<strong>116.5</strong></div>
	</div>
</div>
'''

In [ ]:
# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

# Find all divs with district and price info
district_price_divs = soup.find_all('div', style=True)

# Extract data into lists
districts_prices = {}


for div in district_price_divs:
    # Extract district name (text before <strong>)
    district = div.contents[0].strip()

    # Extract price (inside <strong> tags)
    price = float(div.strong.text.strip())

    # Make a dictionary - districts as keys, prices as values
    districts_prices[district] = price

{'Jeseník': 113.7, 'Bruntál': 114.8, 'Opava': 132.8, 'Ostrava': 109.5, 'Karviná': 132.8, 'Frýdek-Místek': 132.8, 'Nový Jičín': 132.8, 'Vsetín': 111.3, 'Přerov': 108.3, 'Olomouc': 121.3, 'Šumperk': 136.6, 'Ústí n. O.': 116.6, 'Svitavy': 125.7, 'Prostějov': 130.2, 'Kroměříž': 111.0, 'Zlín': 129.8, 'U. Hradiště': 112.0, 'Hodonín': 114.7, 'Vyškov': 123.2, 'Blansko': 147.0, 'Rychnov n. K.': 117.6, 'Náchod': 110.0, 'Trutnov': 109.7, 'Semily': 142.3, 'Jablonec n. N.': 142.3, 'Liberec': 142.3, 'Česká Lípa': 142.3, 'Děčín': 142.3, 'M. Boleslav': 128.8, 'Jičín': 106.3, 'Hr. Králové': 155.6, 'Pardubice': 148.3, 'Chrudim': 131.3, 'Žďár n. S.': 129.8, 'Brno': 105.5, 'Břeclav': 137.2, 'Znojmo': 134.2, 'Třebíč': 133.6, 'Jihlava': 149.9, 'Havlíčkův Brod': 99.9, 'Kutná Hora': 132.0, 'Pelhřimov': 96.9, 'Kolín': 129.9, 'Nymburk': 113.7, 'Ústí n. L.': 142.3, 'Teplice': 142.3, 'Most': 142.3, 'Chomutov': 142.3, 'Karlovy Vary': 120.6, 'Sokolov': 131.8, 'Cheb': 126.0, 'Tachov': 120.6, 'Plzeň': 110.8, 'Plzeň S.': 163.6, 'Louny': 142.3, 'Litoměřice': 142.3, 'Mělník': 175.0, 'Kladno': 175.0, 'Rakovník': 134.4, 'Beroun': 144.6, 'Praha': 144.9, 'Rokycany': 131.8, 'Příbram': 103.5, 'Benešov': 116.5, 'Domažlice': 97.6, 'Klatovy': 89.0, 'Strakonice': 129.4, 'Písek': 110.0, 'Tábor': 125.4, 'Jindřichův Hradec': 99.7, 'Č. Budějovice': 95.2, 'Český Krumlov': 123.4, 'Prachatice': 116.5}

In [ ]:
df_origin = pd.read_csv('./output_files/dim_puvod_tab.csv', delimiter=',' , encoding='utf-8')
df_origin

    ID_origin  Origin_name  Is_bottled
0           1      Benešov       False
1           2       Beroun       False
2           3      Blansko       False
3           4   Brno-město       False
4           5  Brno-venkov       False
..        ...          ...         ...
77         78       Natura        True
78         79       Nartes        True
79         80  Aquila Baby        True
80         81       Fromin        True
81         82        Rajec        True

[82 rows x 3 columns]

In [ ]:
# Create DataFrame
df_vodne_stocne = pd.DataFrame({
    'Origin_name': districts,
    'Vodne_stocne': prices
})

print(df_vodne_stocne)

          Origin_name  Vodne_stocne
0             Jeseník         113.7
1             Bruntál         114.8
2               Opava         132.8
3             Ostrava         109.5
4             Karviná         132.8
..                ...           ...
68              Tábor         125.4
69  Jindřichův Hradec          99.7
70      Č. Budějovice          95.2
71      Český Krumlov         123.4
72         Prachatice         116.5

[73 rows x 2 columns]

In [ ]:
vodne_stocne_okresy = df_vodne_stocne.to_csv('./output_files/vodne_stocne_okresy.csv', index=False)

In [ ]:
clean_vodne_stocne = pd.read_excel('vodne_stocne.xlsx', header=0)
clean_vodne_stocne.rename(columns={'District_name': 'Origin_name', 'Price': 'Price_per_1000'}, inplace=True)
clean_vodne_stocne

         Origin_name  Price_per_1000
0            Benešov           116.5
1             Beroun           144.6
2            Blansko           147.0
3            Břeclav           137.2
4         Brno-město           105.5
..               ...             ...
71            Vsetín           111.3
72            Vyškov           123.2
73  Žďár nad Sázavou           129.8
74              Zlín           129.8
75            Znojmo           134.2

[76 rows x 2 columns]

In [ ]:
print(df_origin.columns)
print(clean_vodne_stocne.columns)

Index(['ID_origin', 'Origin_name', 'Is_bottled'], dtype='object')
Index(['Origin_name', 'Price_per_1000'], dtype='object')

In [ ]:
df_vodne_okresy_m = pd.merge(df_origin, clean_vodne_stocne, on='Origin_name')

df_vodne_okresy_m["Price_per_l"] = df_vodne_okresy_m["Price_per_1000"]/1000
df_vodne_okresy_m
df_cena_okresy = df_vodne_okresy_m.drop(columns=['Is_bottled', 'Origin_name'])
df_cena_okresy

    ID_origin  Price_per_1000  Price_per_l
0           1           116.5       0.1165
1           2           144.6       0.1446
2           3           147.0       0.1470
3           4           105.5       0.1055
4           5           105.5       0.1055
..        ...             ...          ...
69         72           111.3       0.1113
70         73           123.2       0.1232
71         74           129.8       0.1298
72         75           134.2       0.1342
73         76           129.8       0.1298

[74 rows x 3 columns]

In [ ]:
znacky_cena = pd.read_csv('./output_files/fact_cena_1.csv')
fact_cena = pd.concat([df_cena_okresy,znacky_cena], ignore_index=True, sort = False)
fact_cena['Price_per_l'] = fact_cena['Price_per_l'].round(decimals=2)
fact_cena = fact_cena.drop(fact_cena.columns[-1], axis=1)
fact_cena_tab = fact_cena.to_csv('./output_files/fact_cena_tab.csv', index=False)
print(fact_cena)

    ID_origin  Price_per_1000  Price_per_l
0           1           116.5         0.12
1           2           144.6         0.14
2           3           147.0         0.15
3           4           105.5         0.11
4           5           105.5         0.11
..        ...             ...          ...
75         78             NaN        12.30
76         79             NaN        16.00
77         80             NaN        14.10
78         81             NaN        35.60
79         82             NaN        14.70

[80 rows x 3 columns]